.App {
  height: 100vh;
}
.header {
  background: grey;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar {
  background: green;
  padding:0px;
}
.editor {
  padding:0px;
}
.split {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  height: 94vh;
}