.categorySidebar {
  background: $lighter-color;
  padding:0px;
  overflow-y: auto;
  display: flex;
  z-index: 1;
  
  .categoryHeader {
    padding: 10px 15px;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    
    .icon-only-button {
      i {
        transition: all 0.2s;
      }
      i:hover {
        color: $highlight-color;
      }
    }
  }
  .list-group {
    .list-group-item {
      background-color: $lighter-color;
      transition: transform 0.3s;

      span {
        padding-left: 5px;
        cursor: pointer;
      }
      
      .icon-only-button {
        opacity: 0;
        font-size: 90%;
        transition: opacity 0.1s;
      }

      &.active {
        font-weight: bold;
        background: $darker-color;

        span {
          cursor: default;
        }

        &:hover{
          .icon-only-button {
            opacity: 0.5;
            
            &:hover {
              opacity: 1.0;
            }
          }
        }
      }
    }
    
    .droppable {
      .list-group-item:not(.active) {
        background: #2f4052;
        transform: scale(1.02);
      }
    }
  }
}