.header {
  background: $lighter-color;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:right;
  padding:0px;
  
  .btn {
    background: $highlight-color;
    color: #fff;
  }
}