.sidebar {
  background: $darker-color;
  padding:0px;
  overflow-y: auto;
  display: flex;
  border-top-left-radius: 10px;
  -webkit-box-shadow: -14px -11px 24px -9px rgba(0,0,0,0.2);
  -moz-box-shadow: -14px -11px 24px -9px rgba(0,0,0,0.2);
  box-shadow: -14px -11px 24px -9px rgba(0,0,0,0.2);
  z-index: 2;

  .list-group {
    background: $darker-color;

    .isDragging {
      opacity: 0.5;
    }

    a .list-group-item,
    a:active .list-group-item,
    a:hover .list-group-item
    .list-group-item {
      border-bottom: 1px solid #304051;
      background-color: $darker-color;
      border-right: 3px solid $darker-color;
      
      .icon-only-button {
        opacity: 0;
        font-size: 90%;
        transition: opacity 0.1s;
      }
      
      .date {
        font-size: 90%;
        color: $highlight-color;

        i {
          font-size: 80%;
        }
      }
      
      span {
        text-decoration: none;
      }
      
      &.active {
        background-color: $darker-color-highlight;
        border-bottom: 1px solid #304051;
        border-right-color: $highlight-color;
        cursor:default;
        -webkit-box-shadow: 0px 0px 12px 3px rgba(26, 37, 49, 0.54);
        -moz-box-shadow: 0px 0px 12px 3px rgba(26, 37, 49, 0.54);
        box-shadow: 0px 0px 12px 3px rgba(26, 37, 49, 0.54);

        span:not(.date) {
          cursor: default;
          font-weight: bold;
        }

        &:hover {
          .icon-only-button {
            opacity: 0.5;
        
            &:hover {
              opacity: 1.0;
            }
          }
        }
      }
    }
  }

  .searchBar {
    background: none;
    border-bottom: 1px solid #304051;
    border-top-left-radius: 10px;

    .input-group{
      background: $darker-color;
      border-top-left-radius: 10px;
      -webkit-box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.2) inset;

      .btn {
        background: none;
        color: #ccc;
        outline:none;
        cursor: default;
        &:active {
          box-shadow:none;
        }
      }
    
      input {
        background: none;
        border:none;
        border-radius: 0;
        line-height: 3em;
        color: #FFF;
    
        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }
      }
    
      .form-control {
        height: 42px;
      }
    }
  }
  .noSearchResults {
    color: #848e9a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    height: 100%;
    display: flex;
    font-weight: 400;
    font-size: 100%;
    text-align: center;
    padding-top: 50px;
    
    .icon {
      background: url('/img/empty-search.png') no-repeat center center;
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 auto 20px;
    }
  }
}